.judulLuas{
    width: 100%;
    background-color: lightblue;
    color: black;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin: 0;
}

.gambarSegitiga{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rumusLuas{
    width: 100%;
    background-color: rgb(184, 231, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inputLuas{
    display: flex;
    flex-direction:row;
    padding: 1px;
}

.hitungLuas{
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.hasilLuas{
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.judulKeliling{
    width: 100%;
    background-color:coral;
    color: black;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    border: 0px solid black;
    margin: 0;
}

.rumusKeliling{
    width: 100%;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hitungKeliling{
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.hasilKeliling{
    flex:1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}